body {
    display: flex;
    justify-content: center;
}


.mold2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #EEE;
    position: relative;
    padding: 40px 44px;
    width: 430px;
    height: 382px;
    font-family: Jost, serif;
    font-style: normal;
    color: #636B78;
    font-size: 17px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 28px;
    font-size: 12px;
    font-weight: 900;
}

.our-cabinet {
    color: #3E424B;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
}

.enterthenumber {
    margin-top: 7px;
    padding: 0 15px;
}

.number {
    font-size: 17px;
}

.number__our {
    margin-top: 12px;
    padding: 23px 0 23px 30px;
    width: 100%;
    background-color: #F5F5F5;
}

.number__our::placeholder{
    color: #D0D0D0;
}

.sms1 {
    position: relative;
    width: 343px;
    height: 70px;
}


.givmecode {
    position: absolute;
    top: 16px;
    left: 83px;
    white-space: nowrap;
    text-align: center;
    color: #FAF6F2;
    font-size: 20px;
    line-height: 1.5
}

.footer {
    display: flex;
    gap: 20px;
    padding: 0 14px;
    align-items: center;
}

.footer__input {
    width: 20px;
    height: 20px;
}

.footer__notif {
    color: #636B78;
    font-size: 13px;
    line-height: 1.2;
}