body {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    line-height: 1;
    gap: 31px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.close {
    display: flex;
    justify-content: right;
}

button {
    padding: 1em 2em; /* Расстояние от текста до края */
    background-color: white; /* Цвет фона */
    border: 0; /* Убираем рамку */
}

.code {
    display: flex;
    gap: 10px;
}

.write{
    color: #3E424B;
    text-align: center;
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.write-code {
    color: #3E424B;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
}

.code {
    display: flex;
}


.border1, .border2, .border3, .border4 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 2px solid #BB8C5F;
    background: white;
}

.border5 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 2px solid #BB8C5F;
    background: #BB8C5F;
}

.footer {
    display: flex;
    gap: 20px;

}